* {

    margin: 0;
    padding: 0;

}

menu {

    background-color: #101010;
    width: 100%;
    height: 110px;

}

.menu-up {
    height: 50%;
    border: 1px solid #626262;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;

}

.menu-down {
    height: 50%;
    border: 1px solid #626262;
    display: flex;
    flex-direction: row;

}

.menu-izquierda {
    padding-left: 50px;
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.menu-izquierda a {

    text-decoration: none;
    color: #bbb;
    display: inline-block;
    font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
    white-space: nowrap;
    line-height: 50px;
    cursor: pointer;

}

.menu-izquierda a:hover {
    color: white;
}

.menu-derecha {
    padding-right: 50px;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu-derecha a {
    margin-left: 15px;
}

.menu-derecha a:hover {
    transform: scale(1.05);
}

.main-accordion-container {
    background-color: beige;
    width: 100%;
}

.accordion-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    border-top: 1px black solid;
}

.accordion-item:hover {
    transform: scale(1.05);
    border: 1px solid black;
}

.accordion-title {
    width: 100%;
    background-color: antiquewhite;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.accordion-desc {
    display: none;
}

.accordion-title .tab-active {
    font-size: 30px;
    pointer-events: visible;
}

.tab-active .accordion-desc {
    width: 100%;
    background-color: gainsboro;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;

}

.card-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.card-item {
    border: 1px solid black;
    width: 20%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 20px;
    box-shadow: 3px 3px 8px 0 black;
}

.card-item:hover {
    transform: scale(1.01) translateY(-3px);
}

.card-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-info {
    height: auto;
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.card-tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans';
    margin-bottom: 20px;
}

.card-desc {
    font-size: 15px;
    text-align: justify;
    margin-bottom: 15px;
}

.card-cta {
    width: 120px;
    text-decoration: none;
    color: rgb(20, 22, 60);
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: antiquewhite;
}

.card-cta:hover {
transform: scale(1.01)translateY(2px)translateY(-2px);
}